@import 'reset';
@import 'variables';
@import 'fonts';

.buttons-div {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;


  .button {
    position: relative;
    display: flex;
    padding: 16px;
    font-family: $font;
    font-weight: bold;
    color: $text-color;
    text-decoration: none;
    background-color: $grey;
    text-transform: uppercase;
    font-size: 1em;
    border: $bg-color;
    border-radius: 16px;
    transition: 200ms ease-in-out all;

    &:hover {
      font-size: 3em;
      box-shadow: $object-shadow;
      background-color: $primary-color;
      transition: 200ms ease-in-out all;
    }
  }
}