@import 'variables';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap");


$font: 'Roboto', serif;
$fontsize-body: 1rem;
$fontsize-h1: 3rem;
$fontsize-h2: 2.5rem;


