@use "colors";
@use "variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap");

body {
  background-color: colors.$bg-color;
  font-family: "Roboto";
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topnav {
  background-color: colors.$div-bg;
  overflow: hidden;
  width: 100%;
  font-weight: bold;

  a {
    float: left;
    color: #b8b8b8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    &:hover {
      background-color: #ddd;
      color: black;
    }
  }

  a.active {
    background-color: colors.$primary-color;
    color: white;
  }
}
h1 {
  position: absolute;
  top: 80px;
  margin: auto;
  color: colors.$disabled-color;
  text-transform: uppercase;
}

.buttons-div {
  display: flex;
  position: absolute;
  top: 50%;
  margin: auto;

  .button {
    position: relative;
    display: flex;
    padding: 16px;
    font-family: "Roboto";
    font-weight: bold;
    color: colors.$bg-color;
    text-transform: uppercase;
    font-size: 48px;
    border: colors.$bg-color;
    border-radius: 16px;

    &:hover {
      box-shadow: variables.$object-shadow;
    }
  }
}
